body{
    background-color: white;
    background-color: black;
}
#app{
    font-family: 'Courier New', Courier, monospace;
    background-color: midnightblue;
    color: white;
    text-align: center;
    width: 90vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
}
#board{
    background-color: black;
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
}

#left-paddle{
    position: relative;
    height: 15vh;
    width: 1vw;
    background-color: white;
    top: 0vh;
    left: 10vw;
    box-sizing: inherit;
}

#right-paddle{
    position: relative;
    height: 15vh;
    width: 1vw;
    background-color: white;
    top: 0vh;
    left: 70vw;
}